* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  display: flex;
  position: relative;
  padding: 0 25px;
  border: 1px solid black;
}

.row {
  display: flex;
  padding: 0 25px;
  border: 1px solid red;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0;
}

img {
  height: auto;
  width: 350px;
  margin: 10px 0;
  background-color: purple;
}
